<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Create Email Templates</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Spam Content</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-body">
                        <form th:object="${spamContent}"
                              name="create-email-template"
                              id="create-email-template"
                              method="POST"
                              th:action="${#mvc.url('save-spam-content').build()}">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="content">Contains specific words</label>
                                        <textarea rows="15" class="form-control" th:field="*{content}" id="content"> </textarea>
                                        <p class="text text-danger"
                                           th:if="${#fields.hasErrors('content')}"
                                           th:errors="*{content}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
