<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Create Email Templates</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Email Templates</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-body">
                        <form th:object="${emailTemplate}"
                              name="create-email-template"
                              id="create-email-template"
                              method="POST"
                              th:action="${#mvc.url('save-email-templates').build()}">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="rule-name">Name</label>
                                        <input th:field="*{name}" type="text" id="rule-name" class="form-control form-control-sm" placeholder="Email Template Name" />
                                        <p class="text text-danger"
                                           th:if="${#fields.hasErrors('name')}"
                                           th:errors="*{name}"></p>
                                    </div>
                                </div>
                            </div>

                            <div id="row-type">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <input id="description"  th:field="*{description}"  type="text" class="form-control form-control-sm" placeholder="Enter value...">
                                            <p class="text text-danger"
                                               th:if="${#fields.hasErrors('description')}"
                                               th:errors="*{description}"></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="emailContent">Email Content</label>
                                            <textarea th:field="*{emailContent}" id="emailContent"> </textarea>
                                            <p class="text text-danger"
                                               th:if="${#fields.hasErrors('emailContent')}"
                                               th:errors="*{emailContent}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <script th:inline="javascript">

        $(document).ready(function(){
            $('#emailContent').summernote({
                placeholder: 'Write Email here',
                tabsize: 2,
                height: 100
            })
        });
    </script>

    <th:block layout:fragment="script">
        <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">
        <script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
    </th:block>
</body>
</html>
