<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Create Mail</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Email Templates</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="media col-sm-3 col-12" th:each="template: ${templates}">

                    <div class="media-body">
                        <h5 class="mt-0" th:text="${template.name}"> </h5>
                        <p th:text="${template.description}"></p>

                        <a href="/mail/54/email-templates/71" class="text text-primary">Use</a>

                        <a class="text text-danger">Delete</a>
                    </div>
                </div>



            </div>

        </div>
    </section>


</body>
</html>
