<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Mail</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="display-5 fw-bold m-0">Mail</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <table id="mail-list" class="table table-stripped col-12">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all-eCRF"/></th>
                        <th>Status</th>
                        <th>Subject</th>
                        <th>Date and time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div th:replace="layout/delete::delete"></div>
        <div th:replace="layout/restore::restore"></div>
    </section>
    <th:block layout:fragment="script">
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/js/mail.trash.js}"></script>
        <script th:src="@{/js/modal.delete.js}"></script>
        <script th:src="@{/js/all.js}"></script>
    </th:block>
</body>
</html>
